*{
    background-color: blanchedalmond;
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
  
}
div{
    background-color: blueviolet;
}
/*generic font families
1. serif
2. sans serif
3. monospace
4. cursive
5. fantasy